Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
beautifulsoup4==4.3.2
gunicorn==19.1.1
htmlmin==0.1.5
itsdangerous==0.24
python-dateutil==2.2
pytz==2014.4
requests==2.3.0
selenium==2.42.1
six==1.7.3
storysniffer==0.0.3
storytracker==0.0.8
tldextract==1.4
unicodecsv==0.9.4
wsgiref==0.1.2
